<section class="query-parameters">
  <h4><%= t(:query_parameters, scope: :apitome) %></h4>
  <pre><%= formatted_body(request['request_query_parameters'].to_json, 'application/json') %></pre>
</section>
